.chat-history {
    display: flex;
    flex-direction: column-reverse;
    flex: 1 1 auto;
    border-top: 0 !important;
    border-bottom: 0 !important;
    /* min-height: 336px; */
}

.chat-history__fix-line {
    min-height: 45px;
    width: 100%;
}

.chat-history-wrap {
    position: relative;
}

.chat-history__inner-container {
    display: flex;
    flex-direction: column-reverse;
}