* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    font-family: Roboto;
}

html {
    height: 100%;
}

body {
    height: 100%;
    background: #04060a;
    color: black;
    -webkit-font-smoothing: antialiased;
}

.root {
    height: 100%;
    display: flex;
}

.left-side {
    flex: 0 1 auto;
    min-width: 0;
    display: flex;
    justify-content: center;
}

.right-side {
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
}

.stack-content {
    align-self: center;
    display: flex;
    flex-direction: column;
}

.logo {
    background: linear-gradient(
		315deg,
		rgba(59, 76, 97, 0.98) 0%,
		rgba(43, 61, 86, 0.98) 98.94%
	);
    align-self: center;
    margin-bottom: 15px;
    border-radius: 3px;
}

.logo img {
    padding: 8px;
    display: block;
}

.login-block {
    padding:20px;
    background-color: white;
    border-radius: 3px;
}

.login-block input {
    width: 100%;
    padding: 5px;
    font-size: 14px;
    border:1px solid black;
    border-radius: 4px;
}

.login-block input:focus{
    border:1px solid blue;
}

.login-block__item {
    margin-bottom: 10px;
}

.login-block__item label{
    display: inline-block;
    margin-bottom: 3px;
    color:#041226
    
}

.login-block button {
    background-color:#37485f;
    display: block;
    border: none;
    border-radius: 5px;
    padding: 7px 15px;
    margin: 0;
    text-decoration: none;
    color: #ffffff;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    float: right;
    margin-top: 10px;
}

.slick-list{
    overflow: hidden;
}

.slider {
    display: flex;
    align-self: center;
}

.slick-list {
    box-shadow: rgb(83 100 138) 0px 0px 20px 20px;
    display: flex;
}

.wrap {
    padding: 40px;
    border-radius: 10px;
    overflow: hidden;
    align-self: center;
    height: 100%;
    display: flex;
}

.slider__item img {
    width: 800px;
    display: block;
}

.slick-dots{
    align-self: center;
    margin-left: 5px;
    font-size: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 50px;
}

.slick-dots li {
    list-style: none;
}

.slick-dots button {
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 50%;
    border: 0;
    font-size: 0;
}

.slick-active button {
    background-color: #000000
}

@media (max-width:1200px){
    .left-side{
        display: none;
    }
}

button.test-log {
    padding: 7px; 
    margin-right: 5px;
    float: left;
}