.chats-list {
    border-top: 0 !important;
    border-bottom: 0 !important;
    flex: 1 1 auto; 
    min-height: 336px;
}

.chats-list-wrap {
    min-height: 336px;
    position: relative;
}

.cssloader-blured-outer {
    position: fixed;
    top: 45%;
    left: 50%;
}