.chats {
    flex: 1 1 auto;
}

.chats__footer-wrap {
    position: sticky;
    bottom: 0;
    border-bottom: 10px solid #f0f2f7;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    z-index: 2;
}

.chats__footer {
    border: 1px solid #e1e1e1;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    padding: 8px 16px;
    background-color: #f5f5f5;
    font-size: 12px;
    border-color: #d7dbe1;
}

.chats-loading-box {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(255 255 255 / 55%);
}

.blured {
    position: fixed !important;
    top: 55%;
}